
:root {
  --primary-color: #955df4;
  --secondary-color: #ff816c;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
}

.table-users {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
}

.table-users th,
.table-users td {
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

.table-users th {
  background: #fafafa;
  padding: 1rem auto;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/// IMPORTS
// 1-Theme
@import "./0-theme/theme";

// Utils
@import './1-utilities/animations';
@import './1-utilities/icons';
@import './1-utilities/borders';
@import './1-utilities/typography';
@import './1-utilities/buttons';
@import './1-utilities/inputs';

// Base styles
@import "./2-base/layout";

// Components
@import './3-components/event-card';
@import './3-components/navbar';
@import './3-components/topbar';
@import './3-components/modal';
@import "stylestoberemoved";
// @use "calendar";

