/** Radius **/
// to do create functions/mixins
$border-radius-card: 16px;

@mixin border-btn {
  border: 2px solid;
  border-color: $color-black;
  border-radius: $border-radius-8;
}

@mixin border-input {
  border: 2px solid;
  border-color: $color-grey-60;
  border-radius: $border-radius-8;
}

@mixin border-card {
  border: 1px solid;
  border-radius: $border-radius-16;
}

// slide up card
@mixin border-content {
  border-top-left-radius: $border-radius-36;
}
