/** Radius **/
// to do create functions/mixins

/* Border Radius */
$border-radius-base: 4px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-16: 16px;
$border-radius-24: 24px;
$border-radius-32: 32px;
$border-radius-36: 36px;

@mixin btn-border {
  border: 2px solid;
  border-color: $color-black;
  border-radius: $border-radius-8;
}

@mixin input-border {
  border: 2px solid;
  border-color: $color-black;
  border-radius: $border-radius-8;
}