

@mixin btn-base {
  @include btn-border;
  @include text-btn;
  background-color: $color-white;
  cursor: pointer;
  transition: all 0.5s ease;

}

.btn {
  @include btn-base;
}

.btn-edit {
  color: var(--primary-color);
  @include btn-border;
}

.btn-edit:hover {
  background: var(--primary-color);
  color: #fff;
}

.btn-delete {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn-delete:hover {
  background: var(--secondary-color);
  color: #fff;
}

.table-wrapper {
  text-align: center;
}

.btn-add {
  width: 6rem;
  height: 2rem;
  background: var(--primary-color);
  border: none;
  color: #fff;
}