/**** TYPOGRAPHY FUNCTIONS ****/
$font-headings: $font-family-mono;
$font-text: $font-family;

/**** TYPOGRAPHY MIXINS ****/
@mixin display-lg {
  // From 68/72 to 112/118
  font-family: $font-headings;
  font-size: 68px;
  line-height: 72px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@mixin heading-1 {
  // From 42/48 to 112/118
  font-family: $font-headings;
  font-size: 42px;
  line-height: 48px;
  font-weight: 400;
}

@mixin heading-2 {
  font-family: $font-headings;
  font-size: 26px;
  line-height: 48px;
  font-weight: 400;
}

@mixin heading-3 {
  font-family: $font-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@mixin heading-4 {
  font-family: $font-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@mixin text-base {
  font-family: $font-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@mixin text-sm {
  font-family: $font-text;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@mixin text-xs {
  font-family: $font-headings;
  font-size: 12px;
  line-height: 16px; //133%
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@mixin text-navbar {
  font-family: $font-text;
  font-style: normal;
  font-size: 8px;
  line-height: 160%;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@mixin text-btn {
  font-family: $font-text;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  @include heading-1;
}

h2,
.h2 {
  @include heading-2;
}

h3,
.h3 {
  @include heading-3;
}

h4,
.h4 {
  @include heading-4;
}

p {
  @include text-base;
}

.text-base {
  @include text-base;
}

.text-sm {
  @include text-sm;
}

.text-xs {
  @include text-xs;
}

.text-day-count {
  @include display-lg;
}

strong {
  font-weight: 500;
}

.text-light {
  font-weight: 300;
}
