.card {
  @include border-card;
  background-color: $color-white;
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  min-height: 96px;

  &:hover {
    cursor: pointer;
  }
  // Color value for each card type - color mapping
  @each $label, $card-color in $card-colors {
    &--#{$label} {
      border-color: $card-color;
      box-shadow: 8px 8px 0px $card-color;

      &__line {
        background-color: $card-color;
        border-radius: 3px;
        width: 6px;
        max-width: 6px;
        min-width: 6px;
        height: 100%;
      }
    }
  }


  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &--location,
    &--label,
    &--date {
      @include text-xs;
      color: $color-grey-70;
      text-transform: capitalize;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;

    &__details {

     
      &--title {
        @include heading-3;
        width: 100%;
        padding: 8px 0;
      }

      &--location {
        @include text-xs;
        color: $color-grey-70;
        text-transform: capitalize;
      }

      &--description {
        display: none;
        p {
          @include text-xs;
          color: $color-black;
          padding: 16px 0;
        }

        &.open-card {
          display: block;
          opacity: 1;
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 8px;
    }
  }
}




/* Can be deleted later */
.card-title {
  @include heading-3;
  color: $color-black;
}

.card-label,
.card-date,
.card-location {
  @include text-xs;
  color: $color-grey-70;
}

.card-description {
  @include text-xs;
  color: $color-black;
}



.card--journal {
  border: none;
  padding: 0px;
  background: none;
  height: auto;
  display: flex;
  width: 100%;
  max-width: 400px;
  min-height: 96px;
  padding-top: 16px;

  .card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .card__header {
    padding: 0;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;

    hr {
      height: 1px;
      width: 30%;
      color: $color-grey-70;
      display: none;
    }
  }

  .card-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
   
     &__feeling {
        @include heading-3;
        width: 100%;
        padding: 8px 0;
        flex: 0;
        
        i {
          font-size: 80px;
        }
    }

    &__entry {
      width: 100%;
      flex: 1;

      div {
        @include text-base;
         overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        /* truncate to 3 lines */
        -webkit-line-clamp: 2;

        .avatar {
          margin-top: 16px;
        }
      }
    }
  }

  .see-more {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 16px;
    height: 100%;

    hr {
      height: 1px;
      width: 30%;
      color: $color-grey-70;
    }
  }
}