.cards {
  width: 100%;
  height: 100%;
  max-width: 480px;
  padding: 0px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
}

.card {
  @include border-card;
  display: flex;
  position: relative;
  background-color: $color-white;
  width: 100%;
  padding: 16px;
  padding-bottom: 8px;
  height: 100%;
  min-height: 96px;
  gap: 16px;
  transition: all 0.3s ease-in-out;
    
  
  &:hover {
    cursor: pointer;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  @each $label, $card-color in $card-colors {
    &-#{$label} {
      border-color: $card-color;
      box-shadow: 6px 6px 0px $card-color;

      &-line {
        background-color: $card-color;
        width: 8px;
        border-radius: $border-radius-base;
      }
    }
  }

  &-content {
    width: 100%;
    position: relative;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-details {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-label,
  &-priority,
  &-date,
  &-location {
    @include text-xs;
    color: $color-grey-70;
  }


  &-title {
    @include heading-3;
    color: $color-black;
    width: 100%;
  }

  &-bottom {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    width: 100%;
    margin-top: 8px;

    .avatar,
    .btn-circle {
      padding: 0;
      margin: 0;
      width: 28px;
      height: 28px;
      background-color: $color-white;
      border-radius: 14px;
    }
  }

  .description {
    @include text-xs;
    color: $color-black;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    // when fixing toggle
    //display: block;
    display: none;
    opacity: 0;
    

    p {
      margin: 0;
    }
  }

  &-toggle {
    cursor: pointer;
  }

}

.description.open-card{
  display: block;
  opacity: 1;
}