.cards {
  padding: 0px 24px 48px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
}

summary {
  list-style: none;
}

.card {
  background-color: $color-white;
  display: flex;
  justify-content: flex-start;
  border: 1px solid;
  padding: 16px;
  height: 100%;
  width: 100%;
  border-radius: $border-radius-card;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-details {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__label,
    &__date {
      @include text-xs;
      color: $color-grey-70;
    }
  }

  @each $label, $card-color in $card-colors {
    &-#{$label} {
      border-color: $card-color;
      box-shadow: 8px 8px 0px $card-color;

      &-line {
        background-color: $card-color;
        height: 100%;
        width: 8px;
        border-radius: $border-radius-base;
      }
    }
  }
}

.card-title {
  @include heading-3;
  color: $color-black;
}

.card-label,
.card-date,
.card-location {
  @include text-xs;
  color: $color-grey-70;
}

.card-description {
  @include text-xs;
  color: $color-black;
}

