.form {
  display: flex;
  flex-direction: column;
  color: #6d6d6d;
}

input[type="text"],
input[type="date"],
textarea,
select {
  height: 48px;
  width: 100%;
  padding: 10px;
  border: 2px solid;
  border-color: #b3b3b3;
  border-radius: 8px;
}

label {
  display: block;
  padding-bottom: 6px;
}

fieldset {
  border: none;
  margin-bottom: 16px;

  &.radio-btns {
    margin-bottom: 24px;

    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }

    label {
      display: inline-block;
      background-color: #ddd;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
    }

    input[type="radio"]:checked + label {
      background-color: #bfb;
      border-color: #4c4;
    }

    input[type="radio"]:focus + label {
      border: 2px dashed #444;
    }

    label:hover {
      background-color: #dfd;
    }
  }
}
.form-user-profile {
  max-width: 320px;

  label {
    @include text-xs;
  }

  input {
    border: 2px solid;
    border-color: $color-black;
    border-radius: 8px;
    height: 48px;
    width: 100%;
  }
}
