
header {
  position: sticky;
  width: 100%;
  bottom: 0;
  grid-area: navbar,
}
.navbar {
  bottom: 0;
  left: 0;
  display: flex;
  background-color: $color-white;
  justify-content: center;
  align-items: top;
  border-top: 1px solid $color-grey-50;
  z-index: 5;

  &-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    a {
      position: relative;
      width: 32px;
      padding-top: 16px;
      color: $color-grey-70;
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: center;

      &:hover,
      &:active {
        color: $color-black;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          border-top: 2px solid black;
          width: 100%;
        }
      }

      i {
        width: 24px;
        height: auto;
      }
    }

    &__text {
      display: none;
    }
  }
}
