/** FONT - TYPEFACE **/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:wght@300;500&display=swap");

/* Fonts */
$font-family: "IBM Plex Sans", sans-serif;
$font-family-mono: "IBM Plex Mono", monospace;

/* Font-size */
$font-size-base: 1rem;

/* Spacing */
$spacing-base: 0.5rem;

/* Border Radius */
$border-radius-base: 4px;
$border-radius-8: calc($border-radius-base * 2);
$border-radius-16: calc($border-radius-base * 4);
$border-radius-24: calc($border-radius-base * 6);
$border-radius-32: calc($border-radius-base * 8);
$border-radius-36: calc($border-radius-base * 9);

/* Color palette */

/* Main colors */
// Blues
$color-primary-100: hsl(232, 88%, 45%);
$color-primary-80: hsl(232, 62%, 59%);
$color-primary-70: hsl(232, 85%, 76%);
$color-primary-30: hsl(232, 84%, 90%);
$color-primary-10: hsl(232, 85%, 95%);
$color-primary-5: hsl(233, 80%, 98%);

// Purples
$color-secondary-100: hsl(265, 71%, 33%);
$color-secondary-70: hsl(264, 46%, 56%);
$color-secondary-30: hsl(265, 71%, 80%);
$color-secondary-10: hsl(265, 71%, 98%);
$color-secondary-5: hsl(262, 80%, 98%);

// Oranges
$color-tertiary-100: hsl(32, 78%, 56%);
$color-tertiary-50: hsl(32, 78%, 80%);
$color-tertiary-30: hsl(32, 78%, 95%);
$color-tertiary-5: hsl(32, 78%, 97%);

/* Grey Colors */
$color-black: hsl(0, 0%, 0%); //black
$color-grey-90: hsl(0, 0%, 28%); //black
$color-grey-70: hsl(0, 0%, 43%); //dark-grey
$color-grey-60: hsl(0, 0%, 70%); //grey
$color-grey-50: hsl(0, 0%, 90%); //platinum-medium
$color-grey-30: hsl(0, 0%, 95%); // light-grey
$color-grey-20: hsl(0, 0%, 98%); // platinum-light
$color-white: hsl(0, 0%, 100%); // white

/* Priority Colors */
$color-green: hsl(130, 55%, 42%);
$color-yellow: hsl(45, 88%, 56%);
$color-red: hsl(14, 88%, 56%);

$bg-green: hsl(130, 55%, 75%);
$bg-yellow: hsl(45, 88%, 80%);
$bg-red: hsl(14, 88%, 70%);
