*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}


body {
  background-color: $color-white;
  margin: 0 auto;
  font-family: $font-text;
  font-size: $font-size-base;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
}

/* page hidden for SPA */
.page {
  display: none;
  animation: fadeIn 0.3s;
}

.wrapper {
  width: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 192px auto 64px;
  grid-template-columns: 180px auto;
  grid-template-areas: 
   'topbar topbar'
   'content content'
   'navbar navbar';
}

main {
  background-color: $color-grey-50;
  grid-area: content;

}

.topbar {
  grid-area: topbar;
}

.navbar {
  grid-area: navbar;
  display: flex;
  background-color: $color-white;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-evenly;
 
  a {
    color: $color-black;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;

    i {
      display: block;
      margin-bottom: 4px;
    }
  }
  
   &__text {
      @include text-nav;
    }

}