*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-white;
  margin: 0 auto;
  padding: 0;
  font-family: $font-text;
  font-size: $font-size-base;
  overflow-x: hidden;
}


/* page hidden for SPA */
.page {
  display: none;
  animation: fadeIn 0.3s;
  width: 100%;

}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 64px;
  grid-template-columns: 1fr;
  grid-template-areas: 
   'main'
   'navbar';
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: 116px auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  'head'
  'contents';
}

.page__head {
  grid-area: head;
  padding-top: 56px;
  padding-bottom: 16px;
  background-color: $color-white;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  right: 0;
  z-index: 3;
}

.heading {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  h1 {
    @include heading-1;
    align-content: flex-end;
    padding-left: 24px;
    border-bottom: 2px solid inherit;
  }

  .btn-home {
    height: auto;
  }
}

.page__contents {
  grid-area: contents;
  @include border-content;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 172px;
  background-color: $bg-main;
  box-shadow: 0px -32px 0px $color-primary-80;
  z-index: 4;

  &--todo {
    padding-top: 32px;
  }

  .page__tabs {
    display: flex;
    width: 100%;
    height: auto;
  }

  .btn-home-add {
    position: absolute;
    right: 24px;
    top: -52px;

  }

  @each $label, $card-color in $card-colors {
    &-#{$label} {
      border-color: $card-color;
        box-shadow: 0px -32px 0px $card-color;
    }
  }

}

.tabs {
  display: flex;
  gap: 40px;
  width: 100%;
  padding: 0px 24px;

  &__link {
    @include heading-3;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0px 8px;
    background: none;
    text-transform: capitalize;
    color: $color-grey-70;
    line-height: 24px;
    transition: all 0.3s ease-in-out;

    &:active,
    &:hover {
      content: '';
      position: relative;
      color: $color-black;
      border-bottom: 2px solid $color-black;
    }
  }
}


/* 

.topbar {
  grid-area: topbar;
  position: sticky;
  top: 0;
  width: 100vw;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  h1 {
    @include heading-1;
    padding-left: 16px;
  }
}

.page-content {
    box-shadow: 0px -32px 0px $color-primary-80;
    @include border-content;
    margin-top: 64px;
    width: 100%;
}
 */

