*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-grey-50;
  margin: 0;
  font-family: $font-text;
  font-size: $font-size-base;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

/* page hidden for SPA */
.page {
  display: none;
  animation: fadeIn 0.3s;
}

/* APP WRAPPER */

.wrapper {
  height: 100vh;
  /* grid container */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto 1fr auto;
  grid-template-areas:
  'head'
  'main'
  'navbar';

  .head {
    grid-area: head;
    background: blue;
  };

  .main {
    grid-area: main;
    padding: 0;
  };

  .navbar {
    grid-area: navbar;
    height: 64px;
  }
}



.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* .wrapper {
  width: 100vw;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 64px;
  grid-template-columns: '180px auto';
  grid-template-areas: 
   'main main'
   'navbar navbar';
}
 */
/*main {
  width: 100vw;
  grid-area: main;
  display: grid;
  grid-template-rows: 118px auto 64px;
  grid-template-areas: 
   'topbar topbar'
   'main-content main-content';
  overflow: scroll;
}

.main-content {

  background-color: $bg-main;
  grid-area: main-content;
  padding: 16px;
  overflow-y: scroll;
}

.topbar {
  grid-area: topbar;
  position: sticky;
  top: 0;
  width: 100vw;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  h1 {
    @include heading-1;
    padding-left: 16px;
  }
}

.page-content {
    box-shadow: 0px -32px 0px $color-primary-80;
    @include border-content;
    margin-top: 64px;
    width: 100%;
}
 */

